body{
    user-select: none;
}

/* Popup container */
.popup {
    background-color: black;
  }

/* The actual popup (appears on top) */
.popuptext {
color: #fff;
text-align: center;
border-radius: 6px;
}

#title{
  color:rgb(65, 24, 102);
  font-weight: bold;
}

.indv-settings{
    width : 100%;
    padding: 3px 0;
    margin: 3px 0;
}

#progBar{
  border-width: 3px;
  border-color: rgb(9, 102, 23);
}

#play, #pause{
  pointer-events: none;
}

#settings{
  transition: transform ease-out 300ms;
}
